.title {
    margin: 140px auto auto;
}

.cards__wrapper {
    width: 90%;
    margin: 80px auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.with_margin_top {
    margin-top: 70px;
}

.button__wrapper {
    margin: 80px auto auto;
    text-align: center;
}
