.content__wrapper {
    margin: 215px auto auto;
}

.title {
    text-align: center;
    font-family: 'Gilroy-Medium', Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #514040;
}

.subtitle {
    text-align: center;
    font-family: 'Gilroy-Medium', Arial, sans-serif;
    font-size: 45px;
    line-height: 53px;
    color: #313131;
}

.cards__wrapper {
    width: 70%;
    margin: 80px auto auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}

.button__wrapper {
    margin: 80px auto auto;
    text-align: center;
}
