.container {
    width: 174px;
    height: 40px;
    margin: 37px auto auto;
    background: #F2F2F2;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input {
    background: transparent;
    padding: 0px;
    border: none;
    outline: none;
    font-family: 'Gilroy', Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}


