.container {
    width: 40%;
    margin: 140px auto auto;
    text-align: center;
}

.title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
}

.button {
    margin-top: 53px;
}
